<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h4>Email</h4>
          <li>
            <a class="u-email" href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> {{ site.email }}</a>
          </li>
          <p></p>
          <h4>Shop</h4>
          <li>
            <a href="https://www.etsy.com/uk/shop/{{ site.etsy_username | cgi_escape | escape }}">
            <i class="fa fa-etsy"></i>
            <span class="username">{{ site.etsy_username }}</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
