<ul class="social-media-list">
  <li>Social</li>
  <li><a href="https://twitter.com/fivequartersnw">
    <i class="fa fa-twitter fa-lg"></i>
    <span class="username">fivequartersnw</span></a>
  </li>
  <li><a href="https://twitter.com/sjohndavey">
    <i class="fa fa-twitter fa-lg"></i>
    <span class="username">sjohndavey</span></a>
  </li>
  <li><a href="https://www.instagram.com/sjohndavey/">
    <i class="fa fa-instagram fa-lg"></i>
    <span class="username">sjohndavey</span></a>
  </li>
</ul>
