---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.prints.size > 0 -%}
    {% assign prints = site.prints | reverse %}
    {%- for print in prints limit:1 -%}
    <div class="home-row">
      <div class="home-hero-image">
        <a class="post-link" href="{{ print.url | relative_url }}">
          <img src="/assets/img/prints/{{ print.image_name }}-small.png">
        </a>
      </div>
      <div class="home-hero-text">
        <p>{{ content }}</p>
        <p><strong>NEW!</strong> {{ print.title | escape }} - {{ print.description }}. <a href="{{ print.url | relative_url }}">See more about this print.</a></p>
      </div>
    </div>
    {%- endfor -%}
    <div class="home-row mt3"></div>
      {%- for print in prints limit:2 offset:1 -%}
      <div class="home-column">
        <a class="post-link" href="{{ print.url | relative_url }}">
          <img src="/assets/img/prints/{{ print.image_name }}-small.png">
        </a>
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
