---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <div>
      <p>{{ page.description }}</p>
      <p>Edition of {{ page.edition }}</p>
      <p>{{ page.width }}&times;{{ page.height }} cm</p>
      <p>{{ page.price }}</p>
      {%- if page.etsy_id -%}
        {%- if site.etsy_username -%}
        <p><a href="https://www.etsy.com/uk/{{ site.etsy_username }}/listing/{{ page.etsy_id }}"><i class="fa fa-etsy"></i> Buy this print on Etsy</a></p>
        {%- endif -%}
      {%- elsif page.etsy_id_missing_text -%}
      <p>{{ page.etsy_id_missing_text }}</p>
      {%- endif -%}
    </div>
    <div>
      <img src="/assets/img/prints/{{ page.image_name }}-large.jpg">
    </div>
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
